html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

$primary-colour: #333;
$background-colour: #E5E5E5;
$grey-colour: #CCCCCC;
$dark-grey-colour: #808080;
$black-colour: #000000;
$white-colour: #ffffff;
$side-padding: 2rem;

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100vw;
    min-height: 100vh;
    background-color: $background-colour;
}

.header {
    min-width: 100vw;

    .header__container {
        padding: 1rem $side-padding;
    
        img {
            max-width: 20vw;
            height: auto;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            img {
                max-width: 35vw;
            }
        }
    }
    

}


.filter__section {
    min-width: 100vw;
    
    .filter__container {
        margin: 0 $side-padding;
        padding: 1rem $side-padding;
        box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.25);
        box-shadow: 20px 20px 60px 0 rgba(208, 208, 208,0.50);
        // box-shadow: -20px -20px 60px 0 rgba(255, 255, 255,0.50);
        border: $grey-colour 1px solid;

        border-radius: 1rem;
        

        .form-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                margin: 0.5rem;

                span {
                    font-size: 0.75rem;
                    font-weight: 600;
                }

                select {
                    font-size: 0.75rem;
                    font-weight: 700;
                }
            }
            

            input, select {
                padding: 0.5rem;
                border-radius: 0.5rem;
                border: $grey-colour 1px solid;
                width: 100%;
                min-height: 2.5rem;
            }

            @media (max-width: 768px) {
                flex-direction: column;
            }

        
        }

        #search {
            color: $white-colour;
            background-color: $black-colour;
            outline: none;
            text-align: center;
            cursor: pointer;
            line-height: 1.5;
            border-radius: 0.5rem;
            border: none;
            padding: 0.5rem;
            margin: 0.5rem;
            min-height: 2.5rem;
            align-self: self-end;
            font-size: 0.75rem;
            min-width: 8rem;
            font-weight: 500;

            @media (max-width: 768px) {
                width: 100%;
                align-self: center;
            }
        }

    }
    
}

.movie__section {
    min-width: 100vw;
    
    .movie__container {
        margin: 0 $side-padding;
        display: flex;
        flex-direction: column;

        .result__text {
            padding: 2rem 0;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;

            .movie-count {
                font-size: 0.8rem;
                font-weight: 600;
            }
        }

        .results-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            column-gap: 1rem;
            row-gap: 1rem;



            .movie {
                border-radius: 0.5rem;
                background-color: white;
                min-width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                img {
                    width: 100%;
                    height: auto;
                    border-top-left-radius: 0.5rem;
                    border-top-right-radius: 0.5rem;
                }

                .info-panel {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                }


                .movie-rating {
                    color: $white-colour;
                    font-size: 0.75rem;
                    display: block;
                    position: relative;
                    bottom: 10%;
                    right: -35%;
                }

                .star {
                    display: block;
                    position: relative;
                    bottom: 13.5%;
                    right: -25%;
                    width: 0.7rem;
                    height: auto;
                }

                .movie-title {
                    font-size: 1rem;
                    align-self: flex-start;
                    padding: 0.5rem;
                }

                .genre-list {
                    font-size: 0.5rem;
                    color: $grey-colour;
                    align-self: flex-start;
                    padding: 0.5rem;
                }
            }

            
        }

        @media (max-width: 768px) {
            .results-section {
                grid-template-columns: 1fr 1fr 1fr !important;
            }
        }

        @media (max-width: 400px) {
            .results-section {
                grid-template-columns: 1fr 1fr !important;
            }
        }

        @media (max-width: 285px) {
            .results-section {
                grid-template-columns: 1fr !important;
            }
        }
    }

}

footer {
    width: 100%;

    .footer__container {
        padding: $side-padding;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        p {
            font-size: 0.75rem;
            font-weight: 500;
            color: $dark-grey-colour;
        }

        img {
            max-width: 12rem;
        }

        @media (max-width: 768px) {
            flex-direction: column;

            p {
                padding: 1rem;
            }
        }
    }
}
